    <footer class="footer">
	    <div class="container">
	        <nav class="pull-left">
	            <ul>
					<li>
						<a href="/">
							PlateMate!
						</a>
					</li>
					<li>
						<a>
						   About Us
						</a>
					</li>
					<li>
						<a>
						   Blog
						</a>
					</li>
					<li>
						<a>
							Licenses
						</a>
					</li>
	            </ul>
	        </nav>
	        <div class="copyright pull-right">
	            &copy; 2016 made with <i class="material-icons">favorite</i> for a better web.
	        </div>
	    </div>
	</footer>